In [2]:
import pandas as pd
import matplotlib.pyplot as plt

% matplotlib inline

In [3]:
db = pd.read_csv('ethnic.csv')

In [4]:
db.columns[0]

'\xff'

In [5]:
db.rename(columns = {'\xff' : 'Category'}, inplace = True)

In [6]:
db.head()

,Category,�.1,White,Unnamed: 3,Black or African American,Unnamed: 5,American Indian and Alaska Native,Unnamed: 7,Asian,Unnamed: 9,Native Hawaiian and Other Pacific Islander,Unnamed: 11,Some Other Race,Unnamed: 13,�.2,Unnamed: 15,Hispanic or Latino (any race),Unnamed: 17
0,�,Estimate,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error
1,Total living in area 1 year ago:,"4,398,514","2,794,622","(+/-5,059)","1,400,504","(+/-3,726)","27,695","(+/-1,203)","65,210","(+/-1,184)","1,665",(+/-440),"46,440","(+/-2,316)","62,378","(+/-2,950)","171,643","(+/-1,781)"
2,Same house,"3,763,511","2,430,906","(+/-7,919)","1,165,258","(+/-5,922)","23,517","(+/-1,122)","54,328","(+/-1,464)","1,501",(+/-427),"37,527","(+/-2,131)","50,474","(+/-2,500)","140,610","(+/-2,292)"
3,Moved within same county,"385,997","209,405","(+/-5,819)","155,963","(+/-4,914)","2,532",(+/-581),"6,087",(+/-912),35,(+/-33),"5,053",(+/-924),"6,922",(+/-916),"17,425","(+/-1,776)"
4,Moved to different county within same state,"151,940","91,969","(+/-3,278)","51,898","(+/-2,410)",997,(+/-255),"2,527",(+/-498),5,(+/-9),"1,803",(+/-467),"2,741",(+/-482),"6,216",(+/-727)

In [7]:
db2 = db[["Category", "White", "Black or African American", "American Indian and Alaska Native"]]

In [8]:
db2

,Category,White,Black or African American,American Indian and Alaska Native
0,�,Estimate,Estimate,Estimate
1,Total living in area 1 year ago:,"2,794,622","1,400,504","27,695"
2,Same house,"2,430,906","1,165,258","23,517"
3,Moved within same county,"209,405","155,963","2,532"
4,Moved to different county within same state,"91,969","51,898",997
5,Moved to different state,"62,342","27,385",649
6,�,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN

In [9]:
db2.ix[[1, 5], :]

,Category,White,Black or African American,American Indian and Alaska Native
1,Total living in area 1 year ago:,"2,794,622","1,400,504","27,695"
5,Moved to different state,"62,342","27,385",649

In [10]:
db3 = db2.ix[[1, 5], :]

In [11]:
db3

,Category,White,Black or African American,American Indian and Alaska Native
1,Total living in area 1 year ago:,"2,794,622","1,400,504","27,695"
5,Moved to different state,"62,342","27,385",649

In [12]:
# define percentage function
def pct(a, b):
    return a/float(b)

In [21]:
db3.iat[1, 2]

'27,385'

In [25]:
db3.iat[1, 2].replace(',', '')

'27385'

In [28]:
# define percentage function (with replace)
def pct(a, b):
    return float(a.replace(',', ''))/float(b.replace(',', ''))

In [29]:
pct(db3.iat[1,2], db3.iat[1,3])

42.195685670261945

In [48]:
percentages = []
percentages.append('Percentage Moved')
for i in range(1, 4):
    percentages.append(pct(db3.iat[1,i], db3.iat[0,i]))

In [49]:
percentages

['Percentage Moved',
 0.02230784700041723,
 0.019553674962727703,
 0.02343383282180899]

In [64]:
# get column names
list(db3.columns)

['Category',
 'White',
 'Black or African American',
 'American Indian and Alaska Native']

In [61]:
# convert percentages to columns names
percentages = pd.DataFrame(percentages)

In [70]:
# transpose percentages
percentages = percentages.T

In [73]:
percentages.columns = list(db3.columns)

In [75]:
db3.append(percentages)

,Category,White,Black or African American,American Indian and Alaska Native
1,Total living in area 1 year ago:,"2,794,622","1,400,504","27,695"
5,Moved to different state,"62,342","27,385",649
0,Percentage Moved,0.02230785,0.01955367,0.02343383